<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <div class="card" style="width:25rem;margin:0 auto;">
            <div class="card-body text-center">
                <h5 class="card-title">{{user.name}}</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{user.email}}</li>
                    <li class="list-group-item">{{user.gender}}</li>
                </ul>
            </div>
            <button class="btn btn-primary btn-block btn-xl" routerLink="/dashboard">
                volver
            </button>
        </div>
    </div>
</div>